<%= render "layouts/end_user_header"%>

  <div class="movie-index-main">

    <% @movies.each do |movie| %>

    <table class="movie-index-table">
      <tr>
        <td rowspan="2">サムネイル取得</td>
        <td colspan="2"><h2><%= movie.title %></h2></td>
      </tr>
      <tr>
        <td><i class="fa fa-heart-o"></i> Favorites</td>
        <td>shared by <%= movie.end_user.first_name+" "+movie.end_user.last_name %></td>
      </tr>

      <tr>
        <td colspan="3"><%= link_to movie_path(movie.id) do%><span class="btn btn-info btn-block">Detail</span><%end%></td>
      </tr>

    <% if current_end_user.id==movie.end_user.id %>
      <tr>
        <td colspan="3"><%= link_to edit_end_user_movie_path(current_end_user.id,movie.id)do%>
          <span class="btn btn-success btn-block">Edit</span><%end%></td>
      </tr>
      <tr>
        <td colspan="3"><%= link_to end_user_movie_path(current_end_user.id,movie.id),method: :delete,data: {confirm: '本当に削除しますか？'} do%>
          <span class="btn btn-danger btn-block">Delete</span><%end%></td>
      </tr>
    <% end %>

    </table>

    <%end%>

  </div>
