<%= render "layouts/end_user_header"%>


<h2>Edit</h2>

<%= form_for(@end_user) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name,autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
