
<div class="container">
  <div class="row">
    <%= render "layouts/end_user_header"%>
  </div>

  <div class="show-main">
    <div class="row">
      <h1>My Page</h1>

        <table class="user-info user-info-margin table-striped">

          <tr>
            <th colspan="2">My Info</th>
          </tr>

          <tr>
            <td>Name: <%= @end_user.first_name+" "+@end_user.last_name %></td>
            <td>Email: <%= @end_user.email %></td>
          </tr>
        </table>
    </div>

    <div class="my-menu">

    <div class="row">
      <%= link_to my_post_path(current_end_user) do %>
        <div class="pull-left account-menu">
        <h2>My Posts</h2>
      </div>
      <%end%>
    </div>

    <div class="row">
      <%= link_to edit_end_user_path(current_end_user) do %>
        <div class="pull-right account-menu">
        <h2>Account Edit</h2>
        </div>
        <%end%>
    </div>

    <div class="row">
      <%= link_to end_user_favorites_path(current_end_user) do %>
        <div class="pull-left account-menu">
          <h2>My Favorites</h2>
        </div>
      <%end%>
    </div>

    <div class="row">
      <%= link_to end_user_path,method: :delete,data: {confirm: '本当に退会しますか？'} do %>
      <div class="pull-right account-menu">
      <h2>Delete Account</h2>
      </div>
      <%end%>
    </div>

    </div>
  </div>

</div>
