<header>
     <%= link_to admins_top_path do%>
     <div class="header-site-logo pull-left">
       <h2 class="logo">DANSIK</h2>
     </div><%end%>

<!-- ここからスタート -->
     <div class="search_form pull-left">
      <%= form_tag(title_search_path,:method => 'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :title => nil ,class:"search-button"%>
      <% end %>
     </div>

     <nav>
       <ul class="nav navbar-nav navbar-right">
         <li>
           <%= link_to "All Movies", admins_movies_path %>
         </li>
         <li>
           <%= link_to "User List",  admins_end_users_path %>
         </li>
         <li>
           <%= link_to "All Comments",  admins_comments_path %>
         </li>
         <li>
           <%= link_to "All Tags",  admins_tags_path %>
         </li>
         <li>
           <%= link_to "Logout", destroy_admin_session_path,method: :delete,data: {confirm: '本当にログアウトしますか？'} %>
         </li>
       </ul>
   </nav>
</header>
