<header>
  <div class="clearfix">
     <%= link_to root_path do%>
     <div class="header-site-logo pull-left">
       <h2 class>DANSIK</h2>
     </div><%end%>

<!-- ここからスタート -->
     <div class="search_form pull-left">
      <%= form_tag(title_search_path,:method => 'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'Search', :title => nil ,class:"search-button"%>
      <% end %>
     </div>

     <% if end_user_signed_in? %>
       <ul class="nav navbar-nav navbar-right">
         <li>
           <%= link_to "All Movies", movies_path %>
         </li>
         <li>
           <%= link_to "Create Post",  new_end_user_movie_path(current_end_user.id) %>
         </li>
         <li>
           <%= link_to current_end_user.first_name+' '+current_end_user.last_name, end_user_path(current_end_user.id) %>
         </li>
         <li>
           <%= link_to "Logout", destroy_end_user_session_path,method: :delete,data: {confirm: '本当にログアウトしますか？'} %>
         </li>
       </ul>
     <% else %>
       <ul class="nav navbar-nav navbar-right">
         <li>
           <%= link_to "All Movies", movies_path %>
         </li>
         <li>
           <%= link_to "Login", new_end_user_session_path %>
         </li>
         <li>
           <%= link_to "Sign Up", new_end_user_registration_path %>
         </li>
       </ul>
     <% end %>
    </div>
</header>
